<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:include filename="robot_core.xacro" />

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    <!-- <xacro:include filename="depth_camera.xacro" /> -->
    <xacro:include filename="face.xacro" />

    <!-- <xacro:include filename="rrbot.urdf.xacro" /> -->
    <!-- <xacro:include filename="$(find robot_arm)/urdf/robot_arm.urdf" /> -->
    <!-- <xacro:include filename="$(find eezybotarm)/urdf/eezybotarm.urdf.xacro" /> -->

    <xacro:include filename="$(find arduino_arm)/urdf/arduino_arm.urdf.xacro" />

    <xacro:include filename="$(find arduino_arm_config)/config/arduino_arm.ros2_control.xacro" />
    <xacro:arg name="initial_positions_file" default="$(find arduino_arm_config)/config/initial_positions.yaml" />
    <!-- <xacro:arduino_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
